<!DOCTYPE html>
<html>

  
<head>
  <title>MY STUFF</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href="/assets/styles.css" media="screen" rel="stylesheet" />
 
       
</head>
<body>

<%= yield %>

</body>
</html>